[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/png;image/jpeg;image/svg+xml;image/gif;image/bmp;video/webm;video/x-matroska;video/ogg;video/mpeg;video/mp4;video/x-theora+ogg;video-ogm+ogg;
Icon=da
Actions=stash
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=Sta.sh
X-KDE-Submenu[it]=Converti in

[Desktop Action stash]
Name=Upload
Icon=da
Exec=stasher %F
